label,input,button{
    margin: 10px;
    padding: 5px;
}
footer{
    bottom: 0%;
    position: absolute;
    height: 40px;
    width: 100%;
    text-align: center;
}
.Welcome{
    text-align: center;
}
h1,h2,h3{
    text-align: center;
}
.LoginForm{
    text-align: center;
}